.chapter-exam-page-wrapper {
    min-height: 100vh;
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.chapter-exam-page-wrapper .exam-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 cột đều nhau */
    gap: 30px; /* khoảng cách giữa các thẻ */
    padding: 20px;
}
