@use "../../../styles/variables";
@use "../../../styles/mixins";

.forgotPage {
    @include mixins.fullSize;
    @include mixins.flexCenter;
    background-color: variables.$gray-100;
    height: 100vh;

    .forgotModal {
        width: 600px;
        background-color: variables.$white;
        border-radius: 15px;
        box-shadow: variables.$box-shadow-2;
        overflow: hidden;
        padding: 60px;
        text-align: center;
        border: 1px solid variables.$gray-200;
        h2 {
            font-size: 45px;
            color: variables.$gray-400;
            margin-bottom: 10px;
        }
        .description {
            font-size: 18px;
            color: variables.$gray-400;
            margin-bottom: 40px;

            span {
                font-weight: bold;
                color: variables.$gray-300;
            }
        }
        .inputGroup {
            margin-bottom: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 10px;
            input {
                outline: none;
                width: 100%;
                padding: 16px 28px;
                border: 2px solid variables.$gray-200;
                border-radius: 50px;
                font-size: 18px;
                transition: all 0.2s ease;
            }
            input:focus {
                border-color: variables.$green-300;
                box-shadow: variables.$box-shadow-2;
            }
        }
        .error {
            text-align: left;
            color: red;
            font-size: 14px;
            margin-bottom: 12px;
            margin-left: 5px;
            height: 20px;
        }
        .submitButton {
            padding: 16px 28px;
            background-color: variables.$black;
            color: white;
            border: none;
            border-radius: 50px;
            font-size: 18px;
            width: 100%;
        }
        .backLink {
            cursor: pointer;
            user-select: none;
            font-size: 18px;
            color: variables.$gray-400;
            margin-top: 20px;
            @include mixins.flexCenter;
            flex-direction: row;
            gap: 5px;
            transition: all 0.2s ease;
            p {
                margin-top: 3px;
            }
            &:hover {
                color: variables.$green-400;
            }
        }
    }
}
