.aside {
    /* 60px là chiều cao của header */
    position: fixed;
    top: 60px;
    z-index: 1;
    min-width: 265px;
    max-width: 265px;
    height: calc(100vh - 60px);
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--box-shadow-3);
    transform: translateX(-265px);
    transition: all 0.5s ease-in-out;
    overflow-y: auto;

    /* position: absolute;
    z-index: 1;
    min-width: 265px;
    max-width: 265px;
    height: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-shadow: var(--box-shadow-3);
    transform: translateX(-265px);
    transition: all 0.5s ease-in-out; */
}
.aside.active {
    transform: translateX(0);
}
.aside .link-list {
    position: fixed;
    min-width: 235px;
    margin: 10px auto;
}
.aside a:link,
.aside a:visited {
    cursor: pointer;
    user-select: none;
    color: var(--gray-500);
    text-decoration: none;
    padding: 8px 0;
    margin: 8px 0;
    border-radius: 5px;
    transition: all 0.15s ease-out;
    display: flex;
    align-items: center;
}
.aside a:link svg,
.aside a:visited svg {
    width: 20px;
    height: 20px;
    margin: 0 16px;
}

.aside a:link img,
.aside a:visited img {
    width: 24px;
    height: 24px;
    margin: 0 16px;
}

.aside a.active {
    background-color: var(--blue-700);
    color: var(--white);
}

.aside a:hover {
    color: var(--white);
}
