/* STORAGE CARD */
.storage-card {
    position: relative;
    background: #fff;
    border: 1px solid var(--gray-400);
    border-radius: 12px;
    padding: 16px;
    box-shadow: var(--box-shadow-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.storage-card:hover {
    border-color: var(--blue-600);
    box-shadow: var(--box-shadow-3);
}
.storage-card .icon {
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
}
.storage-card .icon svg {
    width: 100%;
    height: 100%;
    color: var(--gray-400);
}
.storage-card .title {
    font-size: 18px;
    color: var(--gray-800);
}

.storage-card .count {
    font-size: 16px;
    color: var(--gray-600);
}
/* DELETE BUTTON */
.storage-card .delete-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--gray-600);
    padding: 0;
    margin: 0;
    background-color: var(--red-400);
    color: var(--white);
    transition: transform 0.3s ease, background-color 0.3s ease,
        box-shadow 0.3s ease;
}
.storage-card .delete-btn:hover {
    background-color: var(--red-500);
    transform: scale(1.03) translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
.storage-card .delete-btn svg {
    width: 12px;
    height: 12px;
}
