// MÀU XANH
$green-50: #e7f9e6;
$green-100: #b0ebaf;
$green-200: #78d87a;
$green-300: #48c24a;
$green-400: #34aa36;
$green-500: #1f6d20; // đậm nhất

// MÀU XANH DƯƠNG
$blue-100: #e6f0ff;
$blue-200: #cce0ff;
$blue-300: #99c2ff;
$blue-400: #66a3ff;
$blue-500: #1b84ff;
$blue-600: #1473e6;
$blue-700: #056ee9;
$blue-800: #0052cc;
$blue-900: #003d99;

// MÀU VÀNG
$yellow-100: #fffbe6;
$yellow-200: #fff3bf;
$yellow-300: #ffe58f;
$yellow-400: #ffd666;
$yellow-500: #ffc53d;
$yellow-600: #faad14;
$yellow-700: #d48806;
$yellow-800: #ad6800;
$yellow-900: #874d00;

// MÀU ĐỎ
$red-100: #feeceb;
$red-200: #fdd5d2;
$red-300: #f9a8a8;
$red-400: #f87171;
$red-500: #ef4444;
$red-600: #dc2626;
$red-700: #b91c1c;
$red-800: #991b1b;
$red-900: #7f1d1d;

// MÀU TRẮNG / ĐEN
$white: #fff;
$black: #1f212a;

// MÀU XÁM
$gray-100: #f1f1f1;
$gray-200: #b9bac0;
$gray-300: #8c8f97;
$gray-400: #454e5c;

// MÀU CAM
$orange-100: #fff7f0;
$orange-200: #ffe0c2;
$orange-300: #ffb86c;
$orange-400: #f97316;

// SHADOW
$box-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.05); // Nhẹ nhất
$box-shadow-2: 0 2px 4px rgba(0, 0, 0, 0.1); // Nhẹ
$box-shadow-3: 0 4px 8px rgba(0, 0, 0, 0.15); // Trung bình
$box-shadow-4: 0 6px 12px rgba(0, 0, 0, 0.2); // Đậm
$box-shadow-5: 0 8px 16px rgba(0, 0, 0, 0.25); // Rất đậm
$box-shadow-6: 0 10px 20px rgba(0, 0, 0, 0.3); // Cực đậm
$box-shadow-7: 0 12px 24px rgba(0, 0, 0, 0.35); // Siêu đậm
