// MÀU XANH
$green-100: #f6faf4;
$green-200: #d9ead3;
$green-300: #a0d195;
$green-400: #5ca772;

// MÀU XANH DƯƠNG
$blue-100: #f2f8fd;
$blue-200: #d1e8fa;
$blue-300: #6fb8e9;
$blue-400: #327dcd;

// MÀU VÀNG
$yellow-100: #fffdf2;
$yellow-200: #fff5c2;
$yellow-300: #ffe066;
$yellow-400: #e0b800;

// MÀU ĐỎ
$red-100: #fff4f4;
$red-200: #ffd1d1;
$red-300: #ff8a8a;
$red-400: #e63946;

// MÀU TRẮNG / ĐEN
$white: #fff;
$black: #1f212a;

// MÀU XÁM
$gray-100: #f9fafb;
$gray-200: #e5e7eb;
$gray-300: #9ca3af;
$gray-400: #374151;

// MÀU CAM
$orange-100: #fff7f0;
$orange-200: #ffe0c2;
$orange-300: #ffb26b;
$orange-400: #f97316;

// SHADOW
$box-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.05); // Nhẹ nhất
$box-shadow-2: 0 2px 4px rgba(0, 0, 0, 0.1); // Nhẹ
$box-shadow-3: 0 4px 8px rgba(0, 0, 0, 0.15); // Trung bình
$box-shadow-4: 0 6px 12px rgba(0, 0, 0, 0.2); // Đậm
$box-shadow-5: 0 8px 16px rgba(0, 0, 0, 0.25); // Rất đậm
$box-shadow-6: 0 10px 20px rgba(0, 0, 0, 0.3); // Cực đậm
$box-shadow-7: 0 12px 24px rgba(0, 0, 0, 0.35); // Siêu đậm
