@import "../../styles/variables";
@import "../../styles/mixins";

.modalWrapper {
    @include slide-in-right(320px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow: hidden;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
}
