@use "../../styles/variables";

.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    flex-wrap: wrap;

    .breadcrumbItem {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            color: variables.$gray-400;
            transition: color 0.2s;

            &:hover {
                color: variables.$green-400;
            }
        }
    }

    .current {
        color: variables.$gray-400;
        font-weight: bold;
    }

    .separator {
        margin: 0 8px;
        color: variables.$gray-300;
    }
}
