:root {
    --card-border-dash-color: #dbdfe9;
    --card-border-radius: 8px;
    --card-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);
    --image-box-shadow: 0 6.5px 19.5rem 6.5rem rgba(0, 0, 0, 0.075);
    --card-border-padding: 30px;
}
/* CARD */
.profile-page .card {
    background-color: #fff;
    border: 1px solid var(--gray-600);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    margin-bottom: 32px;
    position: relative;
    height: auto;
    overflow: hidden;
}
.profile-page .card .seperator {
    border-top: 1px dashed var(--gray-600);
    margin: 15px 0;
}
/* CARD HEADER */
.profile-page .card .card-header {
    border-bottom: 1px solid var(--gray-600);
    color: var(--text-gray-900);
    font-size: 18px;
    font-weight: 600;
    min-height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* CARD BODY */
.profile-page .card .card-body {
    display: flex;
    flex-direction: column;
    padding: var(--card-border-padding);
}
.profile-page .row {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}
.profile-page .card .card-body .row > div {
    padding: 0 10px;
}
.profile-page .card .card-body .image {
    position: relative;
    width: 125px;
    height: 125px;
}
.profile-page .card .card-body .image .avatar {
    width: 125px;
    height: 125px;
    border: 3px solid var(--gray-400);
    border-radius: 8px;
    box-shadow: var(--image-box-shadow);
}
.profile-page .card .card-body .image label {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    color: var(--gray-500);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.profile-page .card .card-body .image label svg {
    width: 10px;
    height: 10px;
    transition: all 0.3s ease;
}
.profile-page .card .card-body .image label:hover svg {
    color: var(--blue-500);
}
.profile-page .card .card-body .image-text {
    margin-top: 13px;
    font-size: 12px;
    color: var(--gray-500);
}
.profile-page .card .card-body label {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--gray-800);
    padding: 10px;
}
.profile-page .card .card-body input {
    width: 100%;
    background-color: var(--gray-100);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    padding: 14px 22px;
    color: var(--gray-700);
    font-size: 15px;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
}
.profile-page .card .card-body input:focus {
    background-color: var(--gray-200);
    outline: none;
}
.profile-page .card .card-body input::placeholder {
    font-weight: 600;
    font-size: 15px;
    color: var(--gray-500);
}
/* CARD FOOTER */
.profile-page .card .card-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    border-top: 1px solid var(--gray-600);
    color: var(--text-gray-900);
    font-size: 18px;
    font-weight: 600;
    min-height: 70px;
    padding: 0 30px;
}
/* BUTTON */
.profile-page .btn {
    border-radius: 10px;
    border: none;
    box-shadow: var(--box-shadow-2);
    padding: 14px 22px;
    font-size: 15px;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
}
.profile-page .btn:hover {
    box-shadow: var(--box-shadow-3);
}
.profile-page .btn-gray {
    color: var(--gray-700);
    background-color: var(--gray-300);
}
.profile-page .btn-gray:hover {
    background-color: var(--gray-400);
}
.profile-page .btn-blue {
    color: var(--white);
    background-color: var(--blue-500);
}
.profile-page .btn-blue:hover {
    background-color: var(--blue-700);
}
/* SIGN IN METHOD */
.profile-page .card .sign-in-method {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.profile-page .card .sign-in-method .content {
    display: flex;
    flex-direction: column;
}
.profile-page .card .sign-in-method .primary {
    font-size: 15px;
    font-weight: 600;
    color: var(--gray-800);
    margin: 10px 0;
}
.profile-page .card .sign-in-method .sub {
    font-size: 13px;
    font-weight: 600;
    color: var(--gray-500);
}
.profile-page .card .sign-in-method .change-wrapper {
    display: flex;
    flex-direction: row;
}
