@use "../../../styles/variables";
@use "../../../styles/mixins";

.loginPage {
    @include mixins.fullSize;
    @include mixins.flexCenter;
    height: 100vh;
    color: variables.$gray-400;
    .FlexRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
    .loginForm {
        width: 1400px;
        height: 860px;
        background-color: variables.$white;
        border-radius: 15px;
        box-shadow: variables.$box-shadow-2;
        overflow: hidden;
        border: 1px solid variables.$gray-200;
        .row {
            @include mixins.row;
            height: 100%;
            justify-content: space-between;
            .col_6 {
                width: 49%;
            }
        }
        .colLeft {
            flex: 5;
            padding: 30px 60px;
            text-align: center;
            h2 {
                font-size: 45px;
                color: variables.$gray-400;
                margin-bottom: 10px;
            }
            form {
                width: 100%;
            }
            .description {
                font-size: 18px;
                color: variables.$gray-400;
                margin-bottom: 60px;

                span {
                    font-weight: bold;
                    color: variables.$green-400;
                }
            }
            .inputGroup {
                width: 100%;
                margin-bottom: 15px;
                position: relative;

                input {
                    outline: none;
                    width: 100%;
                    padding: 16px 28px;
                    border: 2px solid variables.$gray-200;
                    box-shadow: variables.$box-shadow-1;
                    border-radius: 50px;
                    font-size: 18px;
                    transition: all 0.2s ease;
                }
                input:focus {
                    border-color: variables.$green-300;
                    box-shadow: variables.$box-shadow-2;
                }
                .icon {
                    cursor: pointer;
                    position: absolute;
                    right: 20px;
                    top: 55%;
                    transform: translateY(-50%);
                    color: variables.$gray-300;
                    transition: color 0.25s ease;
                    &:hover {
                        color: variables.$gray-400;
                    }
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .forgotText {
                font-size: 18px;
                color: variables.$gray-400;
                text-align: right;
                vertical-align: middle;
                user-select: none;
                cursor: pointer;
                a {
                    user-select: none;
                    font-size: 18px;
                    color: variables.$gray-400;
                    transition: all 0.2s ease;
                }
                a:hover {
                    color: variables.$green-400;
                }
            }
            .error {
                text-align: left;
                color: red;
                font-size: 14px;
                margin-bottom: 12px;
                margin-left: 5px;
                height: 20px;
            }
            .submitButton {
                padding: 16px 28px;
                background-color: variables.$black;
                color: white;
                border: none;
                border-radius: 50px;
                font-size: 18px;
                width: 100%;
                margin-top: 10px;
                transition: all 0.2s ease;
            }
            .loginText {
                font-size: 18px;
                color: variables.$gray-400;
                margin-top: 20px;
                a {
                    font-weight: bold;
                    font-size: 18px;
                    color: variables.$gray-400;
                    transition: all 0.2s ease;
                }
                a:hover {
                    color: variables.$green-400;
                }
            }
        }

        .colRight {
            flex: 6;
            padding: 30px;
            background-color: variables.$green-100;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            overflow: hidden;

            .imageBox {
                text-align: center;
                h2 {
                    font-size: 20px;
                    color: variables.$black;
                    margin-bottom: 16px;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
