.subject-wrapper {
    width: 100%;
}

.subject-list-wrapper {
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.subject-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 16px;
    padding-bottom: 8px;
}

/* SUBJECT CARD */
.subject-card {
    background: #fff;
    border: 1px solid var(--gray-400);
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
}
/* PROGCESS BAR */
.subject-card .progress-bar-wrapper {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subject-card .progcess-bar {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: conic-gradient(#4caf50 var(--score), #e0e0e0 0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.subject-card .progcess-bar::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #fff;
}
.subject-card .progcess-bar .text {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
/* INFO */
.subject-card .info {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.subject-card .info .title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--gray-800);
}
.subject-card .info .lesson {
    font-size: 14px;
    color: var(--gray-600);
}
.subject-card .button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
}
.subject-card .button-wrapper button {
    background-color: var(--gray-300);
    transition: all 0.3s ease;
    border: none;
    user-select: none;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: var(--box-shadow-2);
    outline: none;
}
.subject-card .button-wrapper button:hover {
    background-color: var(--gray-400);
    box-shadow: var(--box-shadow-3);
}
/* TOGGLE MORE */
.subject-wrapper .toggle-btn-wrapper {
    text-align: center;
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

.subject-wrapper .toggle-btn {
    color: var(--white);
    box-shadow: var(--box-shadow-3);
    border-radius: 10px;
    z-index: 1000;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--green-500);
    border: 1px solid var(--green-600);
}

.subject-wrapper .toggle-btn:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow-4);
}
