.search-bar {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-2);
    padding: 8px 18px;
    background-color: var(--gray-300);
    z-index: 20;
}
.search-bar form {
    flex: 1;
}
.search-bar input {
    display: flex;
    border: none;
    font-size: 16px;
    background-color: var(--gray-300);
}

.search-bar input:focus {
    outline: none;
}

.search-bar .image img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}
