.study-exam-page {
    margin: 20px 0 50px;
    position: relative;
}

/* EXAM QUESTION */
.study-exam-page .exam-questions {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 1000px;
}
.study-exam-page .exam-question-card {
    background-color: var(--gray-200);
    box-shadow: var(--box-shadow-3);
    border: 1px solid var(--gray-500);
    border-radius: 10px;
    padding: 40px 60px;
}
.study-exam-page .exam-question-card .question-index {
    font-size: 20px;
    font-weight: 600;
}
.study-exam-page .exam-question-card .question {
    margin: 10px 0 20px;
    padding: 14px 12px;
    background-color: var(--white);
    box-shadow: var(--box-shadow-2);
    border: 1px solid var(--gray-400);
    border-radius: 4px;
    font-size: 18px;
}
.study-exam-page .exam-question-card .option {
    padding: 8px 12px;
    background-color: var(--white);
    box-shadow: var(--box-shadow-2);
    border: 1px solid var(--gray-400);
    border-radius: 4px;
}
.study-exam-page .exam-question-card .option-wrapper {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    cursor: pointer;
}
.study-exam-page .exam-question-card .option-wrapper .option-index {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 15px;
    user-select: none;
}
.study-exam-page .exam-question-card .option-wrapper .option {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 16px;
    transition: all 0.2s ease;
    user-select: none;
    cursor: pointer;
}
.study-exam-page .exam-question-card .option-wrapper:hover .option {
    border: 1px solid var(--blue-600);
    transform: scale(1.01);
}

.study-exam-page .exam-question-card .option-wrapper.disabled {
    pointer-events: none;
    color: var(--black);
}
.study-exam-page .exam-question-card .option-wrapper .option.checked {
    border: 1px solid var(--blue-600);
    background-color: var(--blue-200);
}
.study-exam-page .exam-question-card .option-wrapper .option.true {
    border: 1px solid var(--green-600);
    background-color: var(--green-200);
}
.study-exam-page .exam-question-card .option-wrapper .option.false {
    border: 1px solid var(--red-600);
    background-color: var(--red-200);
}
