/* EXAM CARD */
.storage-exam-card {
    cursor: pointer;
    user-select: none;
    position: relative;
    background: #fff;
    border: 1px solid var(--gray-500);
    border-radius: 12px;
    box-shadow: var(--box-shadow-3);
    padding: 5px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.storage-exam-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--box-shadow-4);
}
/* MAIN INFO */
.storage-exam-card .main-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
}
.storage-exam-card.easy .main-info {
    background-color: var(--green-200);
    border: 1px solid var(--green-400);
}
.storage-exam-card.medium .main-info {
    background-color: var(--orange-200);
    border: 1px solid var(--orange-400);
}
.storage-exam-card.hard .main-info {
    background-color: var(--red-200);
    border: 1px solid var(--red-400);
}
.storage-exam-card .title-wrapper {
    height: 44px; /* 2 dòng title (2 x 22px) + 1 dòng sub-title (16px) + margin */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}
.storage-exam-card .title {
    font-size: 18px !important;
    color: var(--gray-800);
    font-weight: 600;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* giới hạn 1 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1;
    margin-bottom: 4px !important;
}
.storage-exam-card .sub-title {
    font-size: 13px !important;
    color: var(--gray-600);
    font-weight: 600;
    line-height: 1;
}
.storage-exam-card .exam-info {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 5px 10px;
}
.storage-exam-card .exam-info .info-item {
    display: flex;
    justify-content: space-between; /* đẩy span ra cuối dòng */
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    color: var(--gray-700);
    background-color: var(--gray-100);
    padding: 8px 14px;
    border-radius: 5px;
}
.storage-exam-card .exam-info .info-item span {
    font-size: 15px;
    font-weight: 600; /* in đậm */
    color: var(--gray-900); /* tùy chỉnh màu nếu cần nổi bật hơn */
}
/* SUB INFO */
.storage-exam-card .sub-info {
    padding: 8px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    color: var(--gray-700);
    border-top: 1px solid var(--gray-200);
}
.storage-exam-card .sub-info .info {
    display: flex;
    align-items: center;
    gap: 8px;
}
.storage-exam-card .sub-info .level {
    padding: 2px 8px;
    background-color: var(--gray-100);
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    font-size: 13px;
    font-weight: 600;
}
.storage-exam-card.easy .sub-info .level {
    background-color: var(--green-200);
    border: 1px solid var(--green-400);
}
.storage-exam-card.medium .sub-info .level {
    background-color: var(--orange-200);
    border: 1px solid var(--orange-400);
}
.storage-exam-card.hard .sub-info .level {
    background-color: var(--red-200);
    border: 1px solid var(--red-400);
}

/* DELETE BUTTON */
.storage-exam-card .delete-btn {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--gray-600);
    padding: 0;
    margin: 0;
    background-color: var(--red-400);
    color: var(--white);
    transition: transform 0.3s ease, background-color 0.3s ease,
        box-shadow 0.3s ease;
}
.storage-exam-card .delete-btn:hover {
    background-color: var(--red-500);
    transform: scale(1.03) translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
.storage-exam-card .delete-btn svg {
    width: 12px;
    height: 12px;
}
