@use "../../../styles/variables";

.wrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    .container {
        padding: 0 20px 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .course {
        .title {
            font-size: 26px;
            font-weight: 600;
            color: variables.$gray-400;
            margin-bottom: 10px;
        }
        .horizonline {
            margin: 30px auto;
            height: 1px;
            width: 600px;
            background-color: variables.$gray-100;
        }
    }
    .noCourse {
        user-select: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: variables.$gray-300;
        img {
            width: 500px;
        }
        h3 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 10px;
        }
        p {
            font-size: 18px;
        }
    }
    .subjects {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        .subject {
            cursor: pointer;
            overflow: hidden;
            border: 1px solid variables.$gray-200;
            border-radius: 12px;
            padding: 5px;
            transition: all 0.3s ease;
            box-shadow: variables.$box-shadow-3;
            img {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                height: 180px;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
            .title {
                font-size: 20px;
                margin: -3px 0;
            }
            .author {
                font-size: 12px;
                font-style: italic;
                margin-bottom: 5px;
            }
            .info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-size: 12px;
                color: variables.$gray-400;
                font-style: italic;
                gap: 10px;
                .infoItem {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 2px;
                }
            }
            &:hover {
                transform: translateY(-5px);
                box-shadow: variables.$box-shadow-4;
            }
        }
    }
}
