.calendar-page {
    display: flex;
    flex-direction: column;
    width: 1600px;
    margin: 10px auto 20px;
}
.calendar-page .controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}
.calendar-page .controls .btn {
    cursor: pointer;
    user-select: none;
    padding: 8px 12px;
    border: 1px solid var(--gray-600);
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: var(--box-shadow-2);
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.calendar-page .controls .btn:hover {
    transform: translateY(-2px);
    box-shadow: var(--box-shadow-3);
}
.calendar-page .controls .icon {
    cursor: pointer;
    user-select: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-page .controls .icon svg {
    width: 15px;
    height: 15px;
}
.calendar-page .controls .icon:hover {
    background-color: var(--gray-300);
}
.calendar-page .controls .date {
    font-size: 24px;
    user-select: none;
}
