.profile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 15px;
}
.navbar-tabs {
    cursor: pointer;
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navbar-tab {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    color: var(--gray-500);
    padding: 16px 0;
    transition: all 0.2s ease-in-out;
    user-select: none;
}
.navbar-tab.active {
    color: var(--blue-500);
}
.navbar-tab::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: all 0.2s ease-in-out;
}

.navbar-tab:hover::before {
    width: 100%;
    background-color: var(--blue-500);
}
.navbar-tab.active::before {
    width: 100%;
    background-color: var(--blue-500);
}
