.video-player-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.video {
    width: 100%;
    height: 650px;
    border-radius: 12px;
}

.chapters-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.chapters-list .title {
    font-size: 16px;
    font-weight: 600;
}

.chapters-list .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.chapter-btn {
    position: relative; /* Thêm dòng này */
    background: var(--gray-200);
    box-shadow: var(--box-shadow-2);
    border: 1px solid var(--gray-600);
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    font-weight: 500;
    transition: all 0.3s ease;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 180px;
    height: 120px;
}

.chapter-btn:hover {
    background: var(--gray-300);
    box-shadow: var(--box-shadow-3);
}

.chapter-btn .chapter-time {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* overlay tối nền video */
    color: white;
    font-size: 14px;
    padding: 6px 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Khi hover, hiện chapter-time */
.chapter-btn:hover .chapter-time {
    opacity: 1;
}
