.calendar-page-wrapper {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--color-light-gray);
    position: relative;
    color: #444746;
}

.calendar-page-wrapper * {
    user-select: none;
}

.calendar-page-wrapper .calendar-aside {
    width: 250px;
    height: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: var(--shadow-color-1);
}

.calendar-page-wrapper .calendar-aside .cal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.calendar-page-wrapper .calendar-aside .cal-header .title {
    font-size: 26px;
    font-weight: 600;
    margin-left: 20px;
}

.calendar-page-wrapper .calendar-aside .cal-header a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.2s ease;
}
.calendar-page-wrapper .calendar-aside .cal-header a:hover {
    background-color: #e7e8eb;
}

.calendar-page-wrapper .calendar-content {
    flex: 1;
    padding: 0 20px;
}

.calendar-page-wrapper .calendar-tool {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.calendar-page-wrapper .today-btn {
    border: 1px solid gray;
    border-radius: 50px;
    padding: 8px 16px;
    transition: background-color 0.2s ease;
    box-shadow: var(--shadow-color-1);
}

.calendar-page-wrapper .today-btn:hover {
    background-color: #e7e8eb;
}

.calendar-page-wrapper .handle-month {
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.calendar-page-wrapper .handle-month .handle-btn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
}

.calendar-page-wrapper .handle-month .handle-btn:hover {
    background-color: #e7e8eb;
}
.calendar-page-wrapper .current-month {
    font-weight: 400;
    font-size: 22px;
}

.calendar-page-wrapper .new-btn-wrapper {
    flex: 1;
    display: flex;
    justify-content: end;
}
.calendar-page-wrapper .new-btn {
    background-color: var(--color-light-purple);
}

.calendar-page-wrapper .edit-btn {
    background-color: #85c281;
}

.calendar-page-wrapper .edit-btn:hover {
    background-color: #6fa86b;
}
.calendar-page-wrapper .delete-btn {
    background-color: #f17070;
}
.calendar-page-wrapper .delete-btn:hover {
    background-color: #e05656;
}

.calendar-page-wrapper .new-btn,
.calendar-page-wrapper .edit-btn,
.calendar-page-wrapper .delete-btn {
    border-radius: 50px;
    padding: 8px 16px;
    color: #fff;
    transition: background-color 0.2s ease;
    box-shadow: var(--shadow-color-1);
}
.calendar-page-wrapper .new-btn:hover {
    background-color: var(--color-purple);
}

.calendar-page-wrapper .new-btn svg {
    margin-right: 5px;
}

/* === MODAL TẠO MỚI */
.calendar-page-wrapper .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.calendar-page-wrapper .modal-wrapper.active {
    opacity: 1;
    visibility: visible;
}

.calendar-page-wrapper .overlay {
    z-index: 101;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.calendar-page-wrapper .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background-color: #fff;
}
.calendar-page-wrapper .modal .cal-header {
    display: flex;
    justify-content: end;
}

.calendar-page-wrapper .modal .cal-header .close-toggle {
    width: 30px;
    height: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}
.calendar-page-wrapper .modal .cal-header .close-toggle:hover {
    background-color: #e7e8eb;
}

.calendar-page-wrapper .modal .cal-header .close-toggle svg {
    width: 20px;
    height: 20px;
}

.calendar-page-wrapper .modal .row-input {
    margin: 20px 16px;
    display: flex;
    flex-direction: row;
}
.calendar-page-wrapper .modal .row-input .icon {
    min-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-page-wrapper .modal .row-input .icon svg {
    width: 20px;
    height: 20px;
}
.calendar-page-wrapper .modal .row-input input {
    outline: none;
    border: none;
    flex: 1;
}
.calendar-page-wrapper .modal .row-input.no-icon {
    padding-left: 40px;
}
.calendar-page-wrapper .modal .row-input.no-icon input {
    border-bottom: 1px solid gray;
    font-size: 24px;
}

.calendar-page-wrapper .modal .row-input.no-icon input:focus {
    border-bottom: 3px solid gray;
}

.calendar-page-wrapper .modal .row-input select {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #e7e8eb;
    font-size: 17px;
    transition: all 0.2s ease;
}
.calendar-page-wrapper .modal .row-input select:hover,
.calendar-page-wrapper .modal .row-input select:focus {
    background-color: #d1d3d6;
    outline: none;
}
.calendar-page-wrapper .modal .row-input option {
    background-color: var(--color-light-gray);
}
.calendar-page-wrapper .modal .row-input option:hover {
    background-color: #d1d3d6;
}
.calendar-page-wrapper .modal .row-input textarea {
    padding: 8px 16px;
    flex: 1;
    background-color: #e7e8eb;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    transition: all 0.2s ease;
    resize: none;
}
.calendar-page-wrapper .modal .row-input textarea:hover {
    background-color: #d1d3d6;
}

.calendar-page-wrapper .modal .row-input textarea:focus {
    background-color: #d1d3d6;
    outline: none;
}

/* === TASK === */
.calendar-page-wrapper .task-list {
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.calendar-page-wrapper .task-list .title-container {
    display: flex;
    align-items: center;
}

.calendar-page-wrapper .task-list .title-line {
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.calendar-page-wrapper .task-list .title-text {
    margin: 0 10px;
    white-space: nowrap;
    font-size: 18px;
    color: var(--color-light-purple);
    font-weight: 500;
}
.calendar-page-wrapper .task-list .task-item {
    width: 100%;
    position: relative;
    border-radius: 8px;
}

.calendar-page-wrapper .task-list .task-item:hover {
    background-color: #e7e8eb;
}

.calendar-page-wrapper .task-list .task-item svg {
    margin-right: 8px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}
.calendar-page-wrapper .task-list .task-content {
    width: 100%;
    padding: 8px 12px;
    margin-left: 28px;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
}
