@use "../../../styles/variables";

.wrapper {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    .flexRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3px;
    }
    .container {
        padding: 0 20px 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .ExamList {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

        .ExamCard {
            cursor: pointer;
            user-select: none;
            background: variables.$white;
            border: 1px solid variables.$gray-200;
            border-radius: 12px;
            box-shadow: variables.$box-shadow-3;
            padding: 5px;
            display: flex;
            flex-direction: column;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            z-index: 1;
            &:hover {
                transform: translateY(-5px);
                box-shadow: variables.$box-shadow-4;
            }
            .MainInfo {
                display: flex;
                flex-direction: column;
                flex: 1;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                padding: 10px;
                &.Easy {
                    background-color: variables.$green-100;
                    border: 1px solid variables.$green-300;
                }
                &.Medium {
                    background-color: variables.$blue-200;
                    border: 1px solid variables.$blue-300;
                }
                &.Hard {
                    background-color: variables.$orange-200;
                    border: 1px solid variables.$orange-300;
                }
                &.Extreme {
                    background-color: variables.$red-200;
                    border: 1px solid variables.$red-300;
                }
                .TitleWrapper {
                    height: 44px; /* 2 dòng title (2 x 22px) + 1 dòng sub-title (16px) + margin */
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    overflow: hidden;
                    .Title {
                        font-size: 18px !important;
                        color: variables.$black;
                        font-weight: 600;
                        text-align: justify;
                        display: -webkit-box;
                        -webkit-line-clamp: 1; /* giới hạn 1 dòng */
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        line-height: 1;
                        margin-bottom: 4px !important;
                    }
                    .SubTitle {
                        font-size: 13px !important;
                        color: variables.$gray-300;
                        font-weight: 600;
                        display: -webkit-box;
                        -webkit-line-clamp: 1; /* giới hạn 1 dòng */
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        line-height: 1;
                    }
                }
                .ExamInfo {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    padding: 5px 10px;
                    .Info {
                        display: flex;
                        justify-content: space-between; /* đẩy span ra cuối dòng */
                        align-items: center;
                        font-size: 13px;
                        font-weight: 600;
                        color: variables.$gray-400;
                        background-color: var(--gray-100);
                        padding: 4px 10px;
                        border-radius: 5px;
                        box-shadow: variables.$box-shadow-2;
                    }
                    span {
                        font-size: 15px;
                        font-weight: 600;
                        color: var(--gray-900);
                    }
                }
            }

            .SubInfo {
                padding: 8px 6px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 13px;
                font-weight: 600;
                color: variables.$gray-400;
                .Info {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    &.TimeAgo {
                        color: variables.$gray-300;
                        font-style: italic;
                    }
                    svg {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    }
    .noExam {
        user-select: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: variables.$gray-300;
        img {
            width: 500px;
        }
        h3 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 10px;
        }
        p {
            font-size: 18px;
        }
    }
}
