@use "../../styles//variables";

.BackButton {
    position: fixed;
    top: 20px;
    left: 20px;
    color: variables.$gray-400;
    border: 1px solid variables.$gray-200;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: variables.$box-shadow-2;
    transition: all 0.3s ease;
    &:hover {
        border: 1px solid variables.$green-300;
        box-shadow: variables.$box-shadow-3;
    }
}
