.wrapper {
    background-color: #f1f1f1;
}
.wrapper .profile-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}

.wrapper .profile-content .outlet {
    transition: all 0.5s ease-in-out;
}
